demo.json
[{"id":"594a38ed.6fde98","type":"ETP data read","z":"71675c4f.a5df0c","name":"","x":520,"y":1440,"wires":[["ef5566ae.d7dca8"]]},{"id":"357126d9.73584a","type":"ETP Lock Status Check","z":"71675c4f.a5df0c","name":"","x":550,"y":1520,"wires":[["52de8958.2c2d38"]]},{"id":"c6f1ba13.c9dcd8","type":"ETP lock unlock set","z":"71675c4f.a5df0c","name":"","x":540,"y":1560,"wires":[["699b19f6.72f2c8"]]},{"id":"38029555.fef4fa","type":"ETP data write","z":"71675c4f.a5df0c","name":"","x":520,"y":1480,"wires":[["dc2001a6.edf26"]]},{"id":"3e62c8a8.394818","type":"inject","z":"71675c4f.a5df0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":1440,"wires":[["594a38ed.6fde98"]]},{"id":"1854c193.498e1e","type":"inject","z":"71675c4f.a5df0c","name":"","topic":"","payload":"{\"label\": \"7\", \"text\": \"hello\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":270,"y":1480,"wires":[["38029555.fef4fa"]]},{"id":"ef5566ae.d7dca8","type":"debug","z":"71675c4f.a5df0c","name":"","active":true,"console":"false","complete":"true","x":790,"y":1440,"wires":[]},{"id":"dc2001a6.edf26","type":"debug","z":"71675c4f.a5df0c","name":"","active":true,"console":"false","complete":"true","x":790,"y":1480,"wires":[]},{"id":"52de8958.2c2d38","type":"debug","z":"71675c4f.a5df0c","name":"","active":true,"console":"false","complete":"true","x":790,"y":1520,"wires":[]},{"id":"699b19f6.72f2c8","type":"debug","z":"71675c4f.a5df0c","name":"","active":true,"console":"false","complete":"true","x":790,"y":1560,"wires":[]},{"id":"7765579f.48a0c8","type":"inject","z":"71675c4f.a5df0c","name":"","topic":"","payload":"{\"address\": 166}","payloadType":"json","repeat":"","crontab":"","once":false,"x":300,"y":1520,"wires":[["357126d9.73584a"]]},{"id":"73b28804.c5bc48","type":"inject","z":"71675c4f.a5df0c","name":"","topic":"","payload":"{\"address\": 166, \"password\": \"1234\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":270,"y":1560,"wires":[["c6f1ba13.c9dcd8"]]}]